# --- PyInstaller ---
# These are generated during the build process
build/
dist/
*.manifest

# --- Python Compiled Files ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so


# --- Packaging & Distribution ---
*.egg-info/
.eggs/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg

# --- OS-specific installations ---
platform-tools/
util/payload-dumper-go.exe
util/payload-dumper-go

